//colors

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$light-black: rgb(17, 17, 17);
$grey: rgb(131, 131, 131);
$menu-blue: rgb(6, 55, 85);

//medias

$desktop: 1350px;
$tablet: 1000px;
$mobile: 600px;

//fontSizes
$XLHeader: 6rem;
$LHeader: 3rem;
$MHeader: 2rem;
$LTextFont: 1.1rem;
$MTextFont: 0.9rem;
$STextFont: 0.6rem;
$XSTextFont: 0.5rem;

//fontWeight
$bold: 800;
$regular: 400;
