@import '../../../constants/constants.module';

.page_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (max-width: $desktop) {
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
  @media (max-width: $desktop) {
    margin-bottom: 250px;
  }
  @media (max-width: $tablet) {
    flex-direction: column;
  }
  @media (max-width: $mobile) {
    margin-bottom: 50px;
  }

  .slogan_wrapper {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    @media (max-width: $desktop) {
      width: 50vw;
    }
    @media (max-width: $tablet) {
      font-size: $MHeader;
      margin-top: 10vh;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 50px;
    }

    header {
      font-size: $LHeader;
      font-weight: $bold;
      margin: 0 0 20px 0;
      line-height: $LHeader + 0.5rem;
      @media (max-width: $desktop) {
        padding: 0;
      }
      @media (max-width: $tablet) {
        font-size: $LHeader - 0.5rem;
        text-align: center;
        height: $LHeader;
        margin-bottom: 50px;
      }
      @media (max-width: $mobile) {
        font-size: $LHeader - 1rem;
      }
    }
    p {
      width: 80%;
      font-size: $LTextFont;
      @media (max-width: $desktop) {
        font-size: $MTextFont;
      }
      @media (max-width: $tablet) {
        text-align: center;
        width: 100%;
      }
    }
  }
  .img2 {
    width: 80%;
    height: 800px;
    overflow: hidden;
    @media (max-width: $desktop) {
      height: 600px;
      width: 50%;
    }
    @media (max-width: $tablet) {
      margin: 0 auto;
      height: 800px;
      width: 80%;
    }
    @media (max-width: $mobile) {
      height: 600px;
    }
    img {
      width: 100%;
    }
  }
}
.shop_section {
  display: flex;
  justify-content: flex-end;
  @media (max-width: $tablet) {
    flex-direction: column;
  }

  .shop_info {
    transform: translate(50%, 50%);
    background-color: $white;
    padding: 25px;
    height: 200px;
    @media (max-width: $desktop) {
      transform: translate(40%, 40%);
    }
    @media (max-width: $tablet) {
      order: 2;
      width: 50%;
      transform: translate(40%, -50%);
    }
    @media (max-width: $mobile) {
      padding: 10px;
    }
    h2 {
      @media (max-width: $mobile) {
        font-size: $LTextFont;
      }
    }
    p {
      @media (max-width: $mobile) {
        font-size: $MTextFont;
      }
    }

    button {
      cursor: pointer;
      margin-top: 25px;
      padding: 15px 30px;
      background-color: $black;
      border: none;
      color: $white;
      font-weight: $bold;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $black;
        background-color: $white;
      }
    }
  }
  .img3 {
    width: 60%;
    justify-self: flex-end;
    overflow: hidden;
    @media (max-width: $desktop) {
      width: 50vw;
    }
    @media (max-width: $tablet) {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}
