header {
  margin-top: 20px;
  height: 100px;
  .inner_header {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      color: black;
    }
    .menu {
      button {
        padding: 0;
        position: fixed;
        z-index: 10000;
        top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        }
        .hamburger_inner {
          width: 32px;
          height: 2px;
          background: black;
          transition: all 0.3s linear;
          position: relative;
          transform-origin: 1px;
        }
      }
    }
  }
}
