@import '../../../constants/constants.module';
.page_wrapper {
  width: 100%;
}

.category_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-black;
  margin-bottom: 50px;
  button {
    height: 120px;
    width: 250px;
    font-weight: 800;
    font-size: $LTextFont;
    border: none;
    background-color: $light-black;
    color: $white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 40px;
    &:hover {
      background-color: $white;
      color: $light-black;
      border: 1px solid $light-black;
    }
    @media (max-width: $tablet) {
      width: 150px;
      height: 80px;
      font-size: $MTextFont;
    }
  }
}

.shop_wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper {
  width: 400px;
  margin-bottom: 50px;
  img {
    height: 500px;
    width: 400px;
  }

  .description_wrapper {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: $mobile) {
      text-align: center;
    }
    .redirect_button {
      border: none;
      background-color: $black;
      cursor: pointer;
      margin: 0 auto;
      color: white;
      padding: 10px 24px;
      transition: 0.3s ease-in-out;
      font-weight: 800;
      font-size: 0.7rem;
      text-decoration: none;
      &:hover {
        color: $black;
        background-color: $white;
      }
    }
    h2 {
      margin: 0;
    }
  }
}
